extends layout

block content
    .container
        .well
            form#uploadForm(enctype='multipart/form-data', action='postCSV', method='post')
                input(type='file', name='logins' required)
                input(type='submit', value='Upload CSV', name='submit')

